<!-- This renders a banner using Bootstrap to indicate failure to fill form. -->

<div class="alert alert-warning alert-dismissible fade show">
    <strong>Warning!</strong> You must fill out form fully.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>