<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>
<body>
    
    <%- include('layouts/navbar'); -%>

    <div class="container_pageNotFound">

        <div class="vertical-spacer">
            <h2 class="display-3">
                Status 404: Page Not Found
            </h2>
        </div>

        <img src="/img/img_404.png" id="image_pageNotFound"/>

    </div>
    
</body>
</html>