<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>
<body>
    
    <%- include('layouts/navbar'); -%>

    <div class="container vertical-spacer">

        <div class="form-header">
            <h2 class="display-3">Regarding Job-Seek Tracker</h2>
        </div>

        <p class="lead narrow-paragraph">
            This application, deployed to the web, 
            should be used on a desktop or laptop machine. Users can create 
            accounts to help keep track of job applications that they fill out. 
            The application has friendly features such as data visualization based 
            on whether an application is pending or rejected and whether an user 
            has submitted a cover letter. Any suggestions you would like to make can 
            be sent to <a href="mailto:hamzaoflouisville@gmail.com?subject=Suggestions">hamzaoflouisville@gmail.com</a>.
        </p>

    </div>

    <div class="container vertical-spacer">

        <div class="form-header">
            <h2 class="display-3">Who am I?</h2>
        </div>

        <p class="lead narrow-paragraph">
            My name is Hamza Foy! I am an active member in the Louisville Muslim community, 
            and an educator turned avid developer.
        </p>
    </div>
    
</body>
</html>